<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Creed</title>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact index">

    <div class="grid-position">

      <div class="grid-position--top">

        <div class="top-block">

          <div class="logo">
            <img src="img/logo_creed.svg" alt="logo" />
          </div>

          <h1>
            VIKING cologne
          </h1>

          <h5>
            From father to son since 1760
          </h5>

        </div>

      </div>

      <div class="grid-position--bottom">

        <div class="img-block">
          <img src="./img/image1.jpg" alt="Creed">
        </div>

        <a href="step_2.html" class="btn btn--black">CLAIM YOUR SAMPLE</a>

      </div>

    </div>

  </main>

</body>

</html>